*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img\ 5.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 80px;
}

.logo{
    color: rgba(241, 168, 155, 0.445);
    font-size: 50px;
    font-family: Arial;
    padding-left: 5px;
    float: left;
    padding-top: 5px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 82px;
    margin-top: 27px;
    font-size: 20px;
    text-decoration: none;
    color: floralwhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease;
}

ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #e9c4a5;
    padding: 5px 15px;
    font-weight: 700;
    font-family: Arial;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    background-color: white;
    color: rgb(11, 11, 94);
    border-radius: 2px;

}

ul li.active a{
    background-color: white;
    color: black;
    border-radius: 2px;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 351px;
    height: auto;
    margin: auto;
    color: rgb(151, 205, 252);
    position: absolute;
    top: 159px;
    left: 36px;
}

.content.par{
    padding-left: 200px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 40px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-right: 5px;
    margin-top: 0%;
    letter-spacing: 3px;
    color: rgb(241, 122, 43);
}

.content span{
    font-family: 'Times New Roman', Times, serif;
    color: gainsboro;
    font-size: 50px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -30px;
    left: 765px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    margin: 72px;
    padding: 8px;
    position: absolute;
    top: -26px;
    left: -39px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input focus{
    outline: white;
}

.btn{
    width: 240px;
    height: 40px;
    font-family: sans-serif;
    text-align: center;
    font-style: bold;
    background: orangered;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    columns: white;
    position: absolute;
    top: 268px;
    left: 34px;
    font-weight: bold;

}

.btn:hover{
    background: white;
    color: orangered;
}

.btn a{
    text-decoration: none;
    counter-reset: black;
    font-weight: bold;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 344px;
    left: 105px;
}

#name{
    margin-bottom: 20px;
    background: transparent;
    border-bottom: 1px solid orangered;
    color: white;
    font-size: 15px;
    width: 59%;
    height: 7vh;
    position: absolute;
   top: 126px;
    left: 62px;
}

#name option{
    background-color: black;
    text-decoration-color: whitesmoke;
}

#work{
   background: transparent;
   color:white;
   border-bottom: 1px solid orangered;
   font-size: 15px;
   width: 59%;
   height: 7vh;
   position:absolute;
   left:63px;
   top:199px;
}

#work option{
    background-color: black;
    text-decoration-color: whitesmoke;
}

.icons{
    color: azure;
   cursor: pointer;
   text-decoration: none;
   position:absolute;
   left:905px;
   top:520px;
   transition: 0.2s ease;
}

.icons:hover{
    color: rgb(109, 204, 204);
}